nltk==3.8.1
fastapi==0.101.1
typing-extensions==4.5.0
uvicorn[standard]==0.23.2
huggingface-hub==0.18.0
click==8.1.7
pandas==2.0.3
transformers==4.31.0
accelerate==0.21.0
pinecone-client==2.2.4
sentence-transformers==2.2.2
chromadb==0.4.15
chromadb-client==0.4.16